/* Сброс стилей и базовые настройки */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #333;
  }
  
  /* Видео */
.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


  
  /* Стили для навигационного меню */
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    margin: 0;
    list-style: none;
  }
  
  .navbar li {
    margin: 0 20px;
  }
  
  .navbar a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(135deg, #ff7f7f, #8d9eff);
    transition: background 0.3s ease;
    font-family: 'Roboto', sans-serif;
  }
  
  .navbar a:hover {
    background: linear-gradient(135deg, #8d9eff, #ff7f7f);
    color: white;
  }
  
 /* Стили для секции с логотипом */
.business-mama-section {
    text-align: center;
    padding: 60px 20px;
    background: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.business-mama-logo {
    max-width: 500px;
    margin-bottom: 30px;
   
}

.business-mama-section h2 {
    font-size: 40px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

.business-mama-section .business-mama-text {
    font-size: 20px;
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.8;
    color: #333;
}

/* Стили для секции о проекте */
.about-section {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(135deg, #ff7f7f, #8d9eff);
}

.about-section h2 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #ffffff;
}

.about-section p {
    font-size: 20px;
    line-height: 1.6;
    max-width: 900px;
    margin: 0 auto;
    color: #ffffff;
}

/* Стили для секции шагов */
.steps-section {
    text-align: center;
    padding: 60px 20px;
    background-color: #fff;
}

.steps-section h2 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #333;
}

.steps-section ol {
    list-style-position: inside;
    font-size: 20px;
    line-height: 1.8;
    max-width: 800px;
    margin: 0 auto;
    color: #666;
}

.steps-section li {
    padding: 15px;
    background: rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.steps-section li:hover {
    background-color: #ff6f61;
    color: #fff;
}

/* Стили для секции формы подачи заявки */
.form-section {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(135deg, #ff7f7f, #8d9eff);
}

.form-section h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #fff;
}

form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
    color: #333;
}

form input, form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: #f4f4f4;
    transition: border-color 0.3s ease;
}

form input:focus, form textarea:focus {
    border-color: #ff61dd;
}

form button.cta-button {
    padding: 15px 30px;
    background-color: #ff61dd;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-items: center;
}

form button.cta-button:hover {
    background-color: #df29f7;
}

/* Стили для секции контактов */
.contact-section {
    text-align: center;
    padding: 80px 20px;
    background-color: #f8f8f8;
}

.contact-section h2 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #333;
}

.contact-section form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.contact-section form label {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
    color: #333;
}

.contact-section form input, .contact-section form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: #f4f4f4;
    transition: border-color 0.3s ease;
}

.contact-section form input:focus, .contact-section form textarea:focus {
    border-color: #ff61dd;
}

.contact-section form button.cta-button {
    padding: 15px 30px;
    background-color: #ff61dd;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-section form button.cta-button:hover {
    background-color: #df29f7;
}

/* Стили для футера */
footer.footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    font-size: 16px;
}

footer.footer .social-links {
    margin-top: 10px;
}

footer.footer .social-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;
    transition: color 0.3s ease;
}

footer.footer .social-links a:hover {
    color: #df29f7;
}
